
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "Jasiri", suffix: " · System" %>
        <!-- Basic Page Needs -->

        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Favicons -->

        <!-- FONTS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,500,700,700italic,900'>
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>

        <!-- CSS -->
          <!-- <link rel="stylesheet" href="<%= Routes.static_path(@socket, "/css/bootstrap.min.css") %>"> -->
        <link href="<%= Routes.static_path(@socket, "/css/global.css") %>" rel="stylesheet" />
        <link href="<%= Routes.static_path(@socket, "/css/structure.css") %>" rel="stylesheet" />
        <link href="<%= Routes.static_path(@socket, "/css/app6.css") %>" rel="stylesheet" />
        <link href="<%= Routes.static_path(@socket, "/css/custom.css") %>" rel="stylesheet" />



        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <style>
        /* Create three columns of equal width */
.columns {
float: left;
width: 29.7%;
padding: 8px;
}

/* Style the list */
.price {
list-style-type: none !important;
border: 1px solid #eee;
margin: 0 !important;
padding: 0 !important;
-webkit-transition: 0.3s;
transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
background-color: #059265;
color: white;
font-size: 25px;
}

/* List items */
.price li {
border-bottom: 1px solid #eee;
padding: 20px;
text-align: center;
margin: 0 !important;
list-style-type: none !important;

}

/* Grey list item */
.price .grey {
background-color: #eee;
font-size: 20px;
}

/* The "Sign Up" button */
.button {
background-color: #4CAF50;
border: none;
color: white;
padding: 10px 25px;
text-align: center;
text-decoration: none;
font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
.columns {
  width: 100%;
}
}
        </style>

          <script language="javascript" type="text/javascript">
      function timeMsg(){

        window.setTimeout("clearMsg()",5000);//10secs

      }

      //

      function clearMsg(){

        document.getElementById("hideMsg").innerHTML = "";

      }
    </script>

    </head>

    <body class="home page-template-default page color-custom style-default button-round layout-full-width one-page no-content-padding header-transparent minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-line-below-80-1 menuo-right menuo-no-borders logo-no-margin footer-copy-center mobile-tb-center mobile-side-slide mobile-mini-mr-lc tablet-sticky mobile-header-mini mobile-sticky">


      <div id ="hideMsg">

      <p class="alert alert-info" role="alert"
        phx-click="lv:clear-flash"
        phx-value-key="info"><%= live_flash(@flash, :info) %></p>

      <p class="alert alert-danger" role="alert"
        phx-click="lv:clear-flash"
        phx-value-key="error"><%= live_flash(@flash, :error) %></p>
    </div>
        <%= @inner_content %>

        <!-- JS -->
        <script src="<%= Routes.static_path(@socket, "/js/app.js") %>"></script>
      <script src="<%= Routes.static_path(@socket, "/js/jquery.min.js") %>"></script>

        <script src="<%= Routes.static_path(@socket, "/js/mfn.menu.js") %>"></script>
        <script src="<%= Routes.static_path(@socket, "/js/jquery.plugins.js") %>"></script>
        <script src="<%= Routes.static_path(@socket, "/js/jquery.jplayer.min.js") %>"></script>
        <script src="<%= Routes.static_path(@socket, "/js/animations.js") %>"></script>
        <script src="<%= Routes.static_path(@socket, "/js/translate3d.js") %>"></script>
        <script src="<%= Routes.static_path(@socket, "/js/scripts.js") %>"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

        <script>

        $(document).ready(function() {
        $('.single_select').select2({
          tags: "true",

          allowClear: true
        });
        });

        </script>

    </body>

    </html>
